# Progetto Fondamenti di Sitemi Informativi 2022
*Università degli Studi di Verona, Corso di Laurea Magistrale in Ingegneria e Scienze Informatiche*
## Simone Ferrari, VR479912
**Dataset**: Verona Card  
**Sistema**: MongoDB

# Fase 1: lettura, preparazione ed inserimento dati in MongoDB

#### Import delle librerie

In [37]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd    # Pandas
import numpy as np     # Numpy

#### Funzioni di varia utilità

In [51]:
def valuesOf(dataframe, column):
    values = []

    for elem in dataframe[column]:
        if elem not in values:
            values.append(elem)

    values.sort()
    return values

#### lettura dei file .csv

In [38]:
header_list = ["Date", "Hour", "POI", "Device", "VrC Serial", "Activation Date", "Unk1", "Unk2", "Profile"]

df2014 = pd.read_csv("dati_2014.csv", names=header_list)
df2015 = pd.read_csv("dati_2015.csv", names=header_list)
df2016 = pd.read_csv("dati_2016.csv", names=header_list)
df2017 = pd.read_csv("dati_2017.csv", names=header_list)
df2018 = pd.read_csv("dati_2018.csv", names=header_list)
df2019 = pd.read_csv("dati_2019.csv", names=header_list)
df2020 = pd.read_csv("dati_2020.csv", names=header_list)

In [20]:
df2014.head()

,Date,Hour,POI,Device,VrC Serial,Activation Date,Unk1,Unk2,Profile
0,30-12-14,18:40:38,Tomba Giulietta,40,049B31523F3880,30-12-14,in,1,24 Ore
1,30-12-14,18:40:36,Tomba Giulietta,40,049B26523F3880,30-12-14,in,1,24 Ore
2,30-12-14,18:29:31,Casa Giulietta,27,04C316523F3884,30-12-14,in,1,72 Ore
3,30-12-14,18:29:30,Casa Giulietta,27,04C315523F3884,30-12-14,in,1,72 Ore
4,30-12-14,18:29:15,Casa Giulietta,27,045955523F3880,30-12-14,in,1,24 Ore

In [21]:
df2015.head()

,Date,Hour,POI,Device,VrC Serial,Activation Date,Unk1,Unk2,Profile
0,30-12-15,18:53:37,Tomba Giulietta,40,0476EFBA7B3F80,30-12-15,in,1,vrcard2-24
1,30-12-15,18:53:32,Tomba Giulietta,40,04D804C27B3F84,30-12-15,in,1,vrcard2-24
2,30-12-15,18:53:00,Casa Giulietta,28,041F4FC27B3F81,30-12-15,in,1,vrcard2-24
3,30-12-15,18:52:59,Tomba Giulietta,40,047298BA7B3F80,30-12-15,in,1,vrcard2-24
4,30-12-15,18:52:58,Tomba Giulietta,40,046E16BA7B3F84,30-12-15,in,1,vrcard2-24

In [22]:
df2016.head()

,Date,Hour,POI,Device,VrC Serial,Activation Date,Unk1,Unk2,Profile
0,30-12-16,18:53:37,Casa Giulietta,28,04A3043A9C4C84,30-12-16,in,1,vrcard2-24
1,30-12-16,18:53:36,Casa Giulietta,28,04F2013A9C4C84,30-12-16,in,1,vrcard2-24
2,30-12-16,18:44:26,Casa Giulietta,28,0474C6429C4C80,30-12-16,in,1,vrcard2-24
3,30-12-16,18:44:23,Casa Giulietta,28,0495743A9C4C80,30-12-16,in,1,vrcard2-24
4,30-12-16,18:44:19,Casa Giulietta,28,0472C7429C4C80,30-12-16,in,1,vrcard2-24

In [23]:
df2017.head()

,Date,Hour,POI,Device,VrC Serial,Activation Date,Unk1,Unk2,Profile
0,30-12-17,18:34:17,Arena,25,04EBBE4A9C4C80,30-12-17,in,1,vrcard2-24
1,30-12-17,18:34:15,Arena,25,04EABE4A9C4C80,30-12-17,in,1,vrcard2-24
2,30-12-17,18:33:55,Casa Giulietta,28,0494C74A9C4C80,30-12-17,in,1,vrcard2-24
3,30-12-17,18:33:52,Casa Giulietta,28,04B6C74A9C4C80,30-12-17,in,1,vrcard2-24
4,30-12-17,18:33:15,Arena,25,04BDBD4A9C4C80,30-12-17,in,1,vrcard2-24

In [24]:
df2018.head()

,Date,Hour,POI,Device,VrC Serial,Activation Date,Unk1,Unk2,Profile
0,30-12-18,18:32:51,Casa Giulietta,28,04AB1DE2185084,30-12-18,in,1,vrcard-24-2019
1,30-12-18,18:32:49,Casa Giulietta,28,04AF94E2185080,30-12-18,in,1,vrcard-24-2019
2,30-12-18,18:32:46,Casa Giulietta,28,04ABB9E2185080,30-12-18,in,1,vrcard-24-2019
3,30-12-18,18:32:44,Casa Giulietta,28,0481ACE2185080,30-12-18,in,1,vrcard-24-2019
4,30-12-18,18:32:25,Castelvecchio,35,045DD4E2185080,30-12-18,in,1,vrcard-48-2019

In [25]:
df2019.head()

,Date,Hour,POI,Device,VrC Serial,Activation Date,Unk1,Unk2,Profile
0,30-12-19,18:32:26,Castelvecchio,35,04FBA2E2185080,30-12-19,in,1,vrcard-48-2019
1,30-12-19,18:32:21,Castelvecchio,35,040723E2185081,30-12-19,in,1,vrcard-48-2019
2,30-12-19,18:29:10,Castelvecchio,35,04E52EF2185080,30-12-19,in,1,vrcard-24-2019
3,30-12-19,18:29:06,Castelvecchio,35,04E33AF2185084,30-12-19,in,1,vrcard-24-2019
4,30-12-19,18:26:05,Tomba Giulietta,40,0407B54A216281,30-12-19,in,1,vrcard-48-2019

In [32]:
df2020.head()

,Date,Hour,POI,Device,VrC Serial,Activation Date,Unk1,Unk2,Profile
0,03-11-20,15:25:08,Torre Lamberti,41,0403A6F2185081,03-11-20,in,1,vrcard-24-2019
1,03-11-20,15:11:50,Casa Giulietta,28,0403A6F2185081,03-11-20,in,1,vrcard-24-2019
2,02-11-20,11:50:37,San Zeno,26,04EBA64A216280,01-11-20,in,1,vrcard-48-2019
3,01-11-20,17:19:51,Duomo,23,04EBA64A216280,01-11-20,in,1,vrcard-48-2019
4,01-11-20,17:10:55,San Zeno,26,04E032F2185080,01-11-20,in,1,vrcard-24-2019

#### Concatenazione dei dataframe

In [28]:
frames = [df2014, df2015, df2016, df2017, df2018, df2019, df2020]

dfAllYears = pd.concat(frames)

In [30]:
dfAllYears

,Date,Hour,POI,Device,VrC Serial,Activation Date,Unk1,Unk2,Profile
0,30-12-14,18:40:38,Tomba Giulietta,40,049B31523F3880,30-12-14,in,1,24 Ore
1,30-12-14,18:40:36,Tomba Giulietta,40,049B26523F3880,30-12-14,in,1,24 Ore
2,30-12-14,18:29:31,Casa Giulietta,27,04C316523F3884,30-12-14,in,1,72 Ore
3,30-12-14,18:29:30,Casa Giulietta,27,04C315523F3884,30-12-14,in,1,72 Ore
4,30-12-14,18:29:15,Casa Giulietta,27,045955523F3880,30-12-14,in,1,24 Ore
...,...,...,...,...,...,...,...,...,...
38289,01-01-20,10:56:07,Giardino Giusti,43,0440ADE2185081,31-12-19,in,1,vrcard-48-2019
38290,01-01-20,10:55:40,Giardino Giusti,43,04161EE2185081,31-12-19,in,1,vrcard-48-2019
38291,01-01-20,10:55:27,Giardino Giusti,43,044452E2185081,31-12-19,in,1,vrcard-48-2019
38292,01-01-20,10:22:41,Giardino Giusti,43,043412E2185085,31-12-19,in,1,vrcard-48-2019
38293,01-01-20,10:22:38,Giardino Giusti,43,04106AE2185081,31-12-19,in,1,vrcard-48-2019

#### La colonna Unk1 è valorizzata da solo valore "in"?

In [53]:
valuesOf(dfAllYears, "Unk1")

['in']

*Risposta*: Sì. Notiamo che tutti i valori sono 'in'.

#### La colonna Unk2 è valorizzata da solo valore 1?

In [54]:
valuesOf(dfAllYears, "Unk2")

[0, 1, 2]

*Risposta*: No. Notiamo che la colonna è valorizzata con 0, 1 e 2. Non sappiamo però quale sia il significato.

#### La colonna POI come è valorizzata?

In [55]:
valuesOf(dfAllYears, "POI")

['AMO',
 'Arena',
 'Casa Giulietta',
 'Castelvecchio',
 'Centro Fotografia',
 'Duomo',
 'Giardino Giusti',
 'Museo Africano',
 'Museo Conte',
 'Museo Lapidario',
 'Museo Miniscalchi',
 'Museo Radio',
 'Museo Storia',
 'Palazzo della Ragione',
 'San Fermo',
 'San Zeno',
 'Santa Anastasia',
 'Sighseeing',
 'Teatro Romano',
 'Tomba Giulietta',
 'Torre Lamberti',
 'Verona Tour']

#### La colonna Profile come è valorizzata?

In [52]:
valuesOf(dfAllYears, "Profile")

['24 Ore',
 '72 Ore',
 'vrcard-24-2019',
 'vrcard-48-2019',
 'vrcard2-24',
 'vrcard2-48']

**Possibile intepretazione**: è possibile attribuire i valori `vrcard-24-2019` e `vrcard2-24` alla medesima tipologia indicata come `24 Ore`? E vale lo stesso per `vrcard-48-2019` e `vrcard2-48` nei confronti di una nuova tipologia `48 Ore`?
*Risposta*: TBD