# Progetto Fondamenti di Sitemi Informativi 2022
*Università degli Studi di Verona, Corso di Laurea Magistrale in Ingegneria e Scienze Informatiche*
## Simone Ferrari, VR479912
**Dataset**: Verona Card  
**Sistema**: MongoDB

# Fase 1: lettura, preparazione ed inserimento dati in MongoDB

#### Import delle librerie

In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd            # Pandas: gestione di dataframe
#from datetime import datetime  # datetime: gestione dei formati data
from tqdm import tqdm          # tqdm: generazione di progressbar
from dateutil import parser    # dateutil: gestione delle date

#### Funzioni di varia utilità

In [2]:
# Funzione che ritorna una lista dei valori distinti presenti nella colonna column del dataframe
def valuesOf(dataframe, column):
    values = []

    for elem in dataframe[column]:
        if elem not in values:
            values.append(elem)

    values.sort()
    return values

#### lettura dei file .csv

In [3]:
header_list = ["Date", "Time", "POI", "Device", "VrC Serial", "Activation Date", "In Out", "Sale", "Profile"]

df2014 = pd.read_csv("dati_2014.csv", names=header_list)
df2015 = pd.read_csv("dati_2015.csv", names=header_list)
df2016 = pd.read_csv("dati_2016.csv", names=header_list)
df2017 = pd.read_csv("dati_2017.csv", names=header_list)
df2018 = pd.read_csv("dati_2018.csv", names=header_list)
df2019 = pd.read_csv("dati_2019.csv", names=header_list)
df2020 = pd.read_csv("dati_2020.csv", names=header_list)

In [4]:
df2014.head()

,Date,Time,POI,Device,VrC Serial,Activation Date,In Out,Sale,Profile
0,30-12-14,18:40:38,Tomba Giulietta,40,049B31523F3880,30-12-14,in,1,24 Ore
1,30-12-14,18:40:36,Tomba Giulietta,40,049B26523F3880,30-12-14,in,1,24 Ore
2,30-12-14,18:29:31,Casa Giulietta,27,04C316523F3884,30-12-14,in,1,72 Ore
3,30-12-14,18:29:30,Casa Giulietta,27,04C315523F3884,30-12-14,in,1,72 Ore
4,30-12-14,18:29:15,Casa Giulietta,27,045955523F3880,30-12-14,in,1,24 Ore

In [5]:
df2015.head()

,Date,Time,POI,Device,VrC Serial,Activation Date,In Out,Sale,Profile
0,30-12-15,18:53:37,Tomba Giulietta,40,0476EFBA7B3F80,30-12-15,in,1,vrcard2-24
1,30-12-15,18:53:32,Tomba Giulietta,40,04D804C27B3F84,30-12-15,in,1,vrcard2-24
2,30-12-15,18:53:00,Casa Giulietta,28,041F4FC27B3F81,30-12-15,in,1,vrcard2-24
3,30-12-15,18:52:59,Tomba Giulietta,40,047298BA7B3F80,30-12-15,in,1,vrcard2-24
4,30-12-15,18:52:58,Tomba Giulietta,40,046E16BA7B3F84,30-12-15,in,1,vrcard2-24

In [6]:
df2016.head()

,Date,Time,POI,Device,VrC Serial,Activation Date,In Out,Sale,Profile
0,30-12-16,18:53:37,Casa Giulietta,28,04A3043A9C4C84,30-12-16,in,1,vrcard2-24
1,30-12-16,18:53:36,Casa Giulietta,28,04F2013A9C4C84,30-12-16,in,1,vrcard2-24
2,30-12-16,18:44:26,Casa Giulietta,28,0474C6429C4C80,30-12-16,in,1,vrcard2-24
3,30-12-16,18:44:23,Casa Giulietta,28,0495743A9C4C80,30-12-16,in,1,vrcard2-24
4,30-12-16,18:44:19,Casa Giulietta,28,0472C7429C4C80,30-12-16,in,1,vrcard2-24

In [7]:
df2017.head()

,Date,Time,POI,Device,VrC Serial,Activation Date,In Out,Sale,Profile
0,30-12-17,18:34:17,Arena,25,04EBBE4A9C4C80,30-12-17,in,1,vrcard2-24
1,30-12-17,18:34:15,Arena,25,04EABE4A9C4C80,30-12-17,in,1,vrcard2-24
2,30-12-17,18:33:55,Casa Giulietta,28,0494C74A9C4C80,30-12-17,in,1,vrcard2-24
3,30-12-17,18:33:52,Casa Giulietta,28,04B6C74A9C4C80,30-12-17,in,1,vrcard2-24
4,30-12-17,18:33:15,Arena,25,04BDBD4A9C4C80,30-12-17,in,1,vrcard2-24

In [8]:
df2018.head()

,Date,Time,POI,Device,VrC Serial,Activation Date,In Out,Sale,Profile
0,30-12-18,18:32:51,Casa Giulietta,28,04AB1DE2185084,30-12-18,in,1,vrcard-24-2019
1,30-12-18,18:32:49,Casa Giulietta,28,04AF94E2185080,30-12-18,in,1,vrcard-24-2019
2,30-12-18,18:32:46,Casa Giulietta,28,04ABB9E2185080,30-12-18,in,1,vrcard-24-2019
3,30-12-18,18:32:44,Casa Giulietta,28,0481ACE2185080,30-12-18,in,1,vrcard-24-2019
4,30-12-18,18:32:25,Castelvecchio,35,045DD4E2185080,30-12-18,in,1,vrcard-48-2019

In [9]:
df2019.head()

,Date,Time,POI,Device,VrC Serial,Activation Date,In Out,Sale,Profile
0,30-12-19,18:32:26,Castelvecchio,35,04FBA2E2185080,30-12-19,in,1,vrcard-48-2019
1,30-12-19,18:32:21,Castelvecchio,35,040723E2185081,30-12-19,in,1,vrcard-48-2019
2,30-12-19,18:29:10,Castelvecchio,35,04E52EF2185080,30-12-19,in,1,vrcard-24-2019
3,30-12-19,18:29:06,Castelvecchio,35,04E33AF2185084,30-12-19,in,1,vrcard-24-2019
4,30-12-19,18:26:05,Tomba Giulietta,40,0407B54A216281,30-12-19,in,1,vrcard-48-2019

In [10]:
df2020.head()

,Date,Time,POI,Device,VrC Serial,Activation Date,In Out,Sale,Profile
0,03-11-20,15:25:08,Torre Lamberti,41,0403A6F2185081,03-11-20,in,1,vrcard-24-2019
1,03-11-20,15:11:50,Casa Giulietta,28,0403A6F2185081,03-11-20,in,1,vrcard-24-2019
2,02-11-20,11:50:37,San Zeno,26,04EBA64A216280,01-11-20,in,1,vrcard-48-2019
3,01-11-20,17:19:51,Duomo,23,04EBA64A216280,01-11-20,in,1,vrcard-48-2019
4,01-11-20,17:10:55,San Zeno,26,04E032F2185080,01-11-20,in,1,vrcard-24-2019

#### Concatenazione dei dataframe

In [11]:
frames = [df2014, df2015, df2016, df2017, df2018, df2019, df2020]

dfAllYears = pd.concat(frames)

In [12]:
dfAllYears

,Date,Time,POI,Device,VrC Serial,Activation Date,In Out,Sale,Profile
0,30-12-14,18:40:38,Tomba Giulietta,40,049B31523F3880,30-12-14,in,1,24 Ore
1,30-12-14,18:40:36,Tomba Giulietta,40,049B26523F3880,30-12-14,in,1,24 Ore
2,30-12-14,18:29:31,Casa Giulietta,27,04C316523F3884,30-12-14,in,1,72 Ore
3,30-12-14,18:29:30,Casa Giulietta,27,04C315523F3884,30-12-14,in,1,72 Ore
4,30-12-14,18:29:15,Casa Giulietta,27,045955523F3880,30-12-14,in,1,24 Ore
...,...,...,...,...,...,...,...,...,...
38289,01-01-20,10:56:07,Giardino Giusti,43,0440ADE2185081,31-12-19,in,1,vrcard-48-2019
38290,01-01-20,10:55:40,Giardino Giusti,43,04161EE2185081,31-12-19,in,1,vrcard-48-2019
38291,01-01-20,10:55:27,Giardino Giusti,43,044452E2185081,31-12-19,in,1,vrcard-48-2019
38292,01-01-20,10:22:41,Giardino Giusti,43,043412E2185085,31-12-19,in,1,vrcard-48-2019
38293,01-01-20,10:22:38,Giardino Giusti,43,04106AE2185081,31-12-19,in,1,vrcard-48-2019

#### La colonna `In Out` è valorizzata da solo valore "in"?

In [13]:
valuesOf(dfAllYears, "In Out")

['in']

*Risposta*: Sì. Notiamo che tutti i valori sono 'in'.

#### La colonna `Sale` è valorizzata da solo valore 1?

In [14]:
valuesOf(dfAllYears, "Sale") # Sconto

[0, 1, 2]

*Risposta*: No. Notiamo che la colonna è valorizzata con 0, 1 e 2. Dovrebbe rappresentare la tipologia di sconto applicato.

#### La colonna `POI` come è valorizzata?

In [15]:
valuesOf(dfAllYears, "POI")

['AMO',
 'Arena',
 'Casa Giulietta',
 'Castelvecchio',
 'Centro Fotografia',
 'Duomo',
 'Giardino Giusti',
 'Museo Africano',
 'Museo Conte',
 'Museo Lapidario',
 'Museo Miniscalchi',
 'Museo Radio',
 'Museo Storia',
 'Palazzo della Ragione',
 'San Fermo',
 'San Zeno',
 'Santa Anastasia',
 'Sighseeing',
 'Teatro Romano',
 'Tomba Giulietta',
 'Torre Lamberti',
 'Verona Tour']

#### La colonna `Profile` come è valorizzata?

In [16]:
valuesOf(dfAllYears, "Profile")

['24 Ore',
 '72 Ore',
 'vrcard-24-2019',
 'vrcard-48-2019',
 'vrcard2-24',
 'vrcard2-48']

#### Conversione delle colonne `Date` e `Time` in una `Timestamp`

In [17]:
# Creazione nuova colonna composta da "Data Ora"
dfAllYears.insert(loc=0, column='Timestamp', value=dfAllYears["Date"] + "T" + dfAllYears["Time"] + ".000Z")

In [19]:
# Verifica del tipo della colonna
type(dfAllYears["Timestamp"].iloc[0])
dfAllYears["Timestamp"].iloc[0]

'30-12-14T18:40:38.000Z'

In [ ]:
# Conversione della colonna in un tipo Timestamp
timestamps = []
for dateTime in tqdm(dfAllYears['Timestamp']):
    timestamps.append(parser.parse(dateTime))
    
    
dfAllYears['Timestamp'] = timestamps

 46%|███████████████████████████████▋                                     | 1113941/2428147 [01:15<01:25, 15312.55it/s]

In [20]:
# Verifica del tipo della colonna
type(dfAllYears["Timestamp"].iloc[0])

pandas._libs.tslibs.timestamps.Timestamp

In [21]:
# Eliminazione colonne singole Date e Time
dfAllYears = dfAllYears.drop(['Date','Time'], 1)

In [22]:
dfAllYears.head()

,Timestamp,POI,Device,VrC Serial,Activation Date,In Out,Sale,Profile
0,2014-12-30 18:40:38,Tomba Giulietta,40,049B31523F3880,30-12-14,in,1,24 Ore
1,2014-12-30 18:40:36,Tomba Giulietta,40,049B26523F3880,30-12-14,in,1,24 Ore
2,2014-12-30 18:29:31,Casa Giulietta,27,04C316523F3884,30-12-14,in,1,72 Ore
3,2014-12-30 18:29:30,Casa Giulietta,27,04C315523F3884,30-12-14,in,1,72 Ore
4,2014-12-30 18:29:15,Casa Giulietta,27,045955523F3880,30-12-14,in,1,24 Ore

#### Conversione della colonna `Activation Date` in formato Date

In [23]:
# Verifica del tipo della colonna
type(dfAllYears["Activation Date"].iloc[0])

str

In [24]:
# Conversione della colonna in un tipo Timestamp
dates = []
for stringDate in tqdm(dfAllYears['Activation Date']):
    date = datetime.strptime(stringDate, '%d-%m-%y')
    dates.append(date)
    
dfAllYears['Activation Date'] = dates

100%|████████████████████████████████████████████████████████████████████| 2428147/2428147 [00:17<00:00, 135836.60it/s]

In [25]:
# Verifica del tipo della colonna
type(dfAllYears["Activation Date"].iloc[0])

pandas._libs.tslibs.timestamps.Timestamp

In [26]:
dfAllYears.head()

,Timestamp,POI,Device,VrC Serial,Activation Date,In Out,Sale,Profile
0,2014-12-30 18:40:38,Tomba Giulietta,40,049B31523F3880,2014-12-30,in,1,24 Ore
1,2014-12-30 18:40:36,Tomba Giulietta,40,049B26523F3880,2014-12-30,in,1,24 Ore
2,2014-12-30 18:29:31,Casa Giulietta,27,04C316523F3884,2014-12-30,in,1,72 Ore
3,2014-12-30 18:29:30,Casa Giulietta,27,04C315523F3884,2014-12-30,in,1,72 Ore
4,2014-12-30 18:29:15,Casa Giulietta,27,045955523F3880,2014-12-30,in,1,24 Ore

# FASE 2: Preparazione dei JSON da inviare a MongoDB

## Bucket VeronaCards

#### Verifica che il timestamp sia univoco nel set di dati presente

In [1]:
# times = []
# duplicated=[]
# 
# for time in tqdm(dfAllYears["Timestamp"]):
#     if time in times:
#         duplicated.append(time)
#         
# duplicated

*Esito*: non ci sono duplicati, possiamo utilizzare il timestamp per identificare univocamente un record nel dataframe.

#### Creazione di un JSON composto da `key: VrC Serial` e `value: [timestamps]`
Si crea un JSON (dizionario) contenente, per ogni Verona Card, la lista di tutti i Timestamp associati.

In [2]:
# allSwipeByVeronaCard={}
# 
# for i in tqdm(range(0, len(dfAllYears))):
#     try:
#         VrC = allSwipeByVeronaCard[dfAllYears["VrC Serial"].iloc[i]]
#     except:
#         VrC = allSwipeByVeronaCard[dfAllYears["VrC Serial"].iloc[i]] = []
#     
#     allSwipeByVeronaCard[dfAllYears["VrC Serial"].iloc[i]].append(dfAllYears["Timestamp"].iloc[i])
#

In [3]:
# for key in list(allSwipeByVeronaCard)[:2]:
#     print(key + ": " + str(allSwipeByVeronaCard[key]))
# print("...")

# Assegnato punto di interesse e mese di un anno, trovare per ogni giorni di un mese il numero totale di accessi nel mese a quel POI e afre grafico
# Trovare POI con masismo numeor accessi nel giorno assegnato
# Dato un profilo, trovare codici di Verona card con quel profilo che hanno fatto almeno 3 strisicate (3 poi diversi) in uno stesso giorno, riportando nel risultato le strisicate di ciascuna verona card

In [2]:
def get_database():
    from pymongo import MongoClient
    import pymongo

    CONNECTION_STRING = "mongodb+srv://simone:simone@cluster0.af2mcsz.mongodb.net/test"

    from pymongo import MongoClient
    client = MongoClient(CONNECTION_STRING)

    return client['test_db'] 
    

testDB = get_database()

In [3]:
swipes = testDB["swipes"]

In [11]:
test1 = {
    "_id": 3,
    "test": "test"
}
test2 = {
    "_id": 4,
    "test": "test"
}

In [12]:
swipes.insert_many([test1,test2])

In [4]:

expiry_date = '2021-07-13T00:00:00.000Z'
date = "30-12-14T18:40:38.000Z"
expiry = parser.parse(expiry_date)

In [5]:
expiry

datetime.datetime(2021, 7, 13, 0, 0, tzinfo=tzutc())

## Bucket Swipes